<h1>Hello!</h1>

<br/>

<%= form_tag root_path, :method =>'POST', data: {turbo: false} do %>
	<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
	<%= submit_tag 'Lookup', class: 'btn btn-secondary' %>
<% end %>	

<br/>

<% if @stock %>
	<%= @stock.company_name %><br/>
	$<%= @stock.latest_price %><br/>
<% elsif @nothing %>
	<%= @nothing %>

<% end %>

<% if @error %>
 <%= @error %>
 <% end %>





